<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog | Bhavesh0336</title>

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap" rel="stylesheet">

    <!-- Font Awesome CDN -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
</head>

<style>
    body {
        font-family: 'Poppins', sans-serif;
        background: #dffff4;
    }
    
    ul {
        margin-top: 3%;
        margin-left: 25%;
        list-style: none;
    }
    
    li {
        width: 600px;
        box-shadow: 0 0 3px rgb(139, 139, 139);
        background: #bdffe8;
        padding: 5px;
        margin-bottom: 10px;
        border-radius: 3px;
    }
    
    .author {
        font-style: italic;
        font-weight: 500;
        color: rgb(82, 82, 82);
    }
    
    .post-desc {
        font-weight: 700;
        font-size: 3.5vh;
    }
</style>

<body>
    <div>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand pl-4" href="#">Great Quotes</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
                <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-link active" aria-current="page" href="/posts">All Quotes</a>
                        <a class="nav-link active" href="/posts/new">Add a Quote</a>
                    </div>
                </div>
            </div>
        </nav>
    </div>

    <ul>

        <% for(let post of posts){ %>

            <li>
                <p class="post-desc">
                    <%= post.description %>
                </p>
                <div class="d-flex justify-content-between">
                    <p class="author">
                        <%= post.author %>
                    </p>

                    <a class="full-btn d-flex align-items-center btn btn-success btn-sm" href="/posts/<%= post._id %> ">View Fullscreen</a>
                </div>
            </li>

            <% } %>
    </ul>


</body>

</html>